.page{
    display: grid;
}

.all_block{
    justify-content: center;
    margin-top: 40px;

}

.text1{
    font-family: "MyFontRegular";
    font-size: 36px;
    color: rgba(36, 39, 13, 1);
    margin-left: 38rem;
    
}

.middle_form{
    background-color: rgba(251, 255, 227, 1);
    min-height: 500px;
    width: 75rem;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
    margin-top: 11px;
    margin-left: 7rem;
}


.not_found{
    margin-left: 33rem;
    margin-top: 13rem;
}